.section-about
	height: 60vh
	padding-top: 8rem
	margin-bottom: 15rem
	@include respond(tab-port)
		padding: 3rem
		height: 70vh

	@include respond(phone)
		padding: 7rem
		height: 55vh

.list-services
	margin-top: 10rem
	padding: 15rem 0
	background: url(../img/header.jpg) center / cover no-repeat
	transform: skewY(-3deg)
	& > *
		transform: skewY(3deg)

.section-photo
	padding-top: 15rem
	margin-bottom: 15rem
